<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sndshun.library.mapper.BookTagsMapper">

    <resultMap type="com.sndshun.library.entity.BookTags" id="BookTagsMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="bookId" column="book_id" jdbcType="INTEGER"/>
        <result property="tagId" column="tag_id" jdbcType="INTEGER"/>
        <result property="likes" column="likes" jdbcType="INTEGER"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>

        <result property="tagName" column="tag_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询热门标签-->
    <select id="hotTags" resultMap="BookTagsMap">
        SELECT tag_id, sum(likes) likes, t.tag_name
        FROM library.book_tags s
                 LEFT JOIN library.book_tag t on t.id = s.tag_id
        GROUP BY tag_id
        ORDER BY sum(likes) DESC
        LIMIT #{count}
    </select>


    <!--查询单个-->
    <select id="queryById" resultMap="BookTagsMap">
        select id,
               book_id,
               tag_id,
               likes,
               update_by,
               update_time,
               create_by,
               create_time
        from library.book_tags
        where id = #{id}
    </select>

    <!--查询总量-->
    <select id="queryCount" resultType="int">
        select count(*)
        from library.book_tags
        where id > -1
    </select>
    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BookTagsMap">
        select id,
               book_id,
               tag_id,
               likes,
               update_by,
               update_time,
               create_by,
               create_time
        from library.book_tags
        limit #{ew.start}, #{ew.size}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BookTagsMap">
        select
        id, book_id, tag_id, likes, update_by, update_time, create_by, create_time
        from library.book_tags
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="bookId != null">
                and book_id = #{bookId}
            </if>
            <if test="tagId != null">
                and tag_id = #{tagId}
            </if>
            <if test="likes != null">
                and likes = #{likes}
            </if>
            <if test="updateBy != null">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="createBy != null">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into library.book_tags
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bookId != null">
                book_id,
            </if>
            <if test="tagId != null">
                tag_id,
            </if>
            <if test="likes != null">
                likes,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bookId != null">
                #{bookId},
            </if>
            <if test="tagId != null">
                #{tagId},
            </if>
            <if test="likes != null">
                #{likes},
            </if>
            <if test="updateBy != null">
                #{updateBy},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="createBy != null">
                #{createBy},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into library.book_tags(book_id, tag_id, likes, update_by, update_time, create_by, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.bookId}, #{entity.tagId}, #{entity.likes}, #{entity.updateBy}, #{entity.updateTime},
            #{entity.createBy}, #{entity.createTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into library.book_tags(book_id, tag_id, likes, update_by, update_time, create_by, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.bookId}, #{entity.tagId}, #{entity.likes}, #{entity.updateBy}, #{entity.updateTime},
            #{entity.createBy}, #{entity.createTime})
        </foreach>
        on duplicate key update
        book_id = values(book_id) , tag_id = values(tag_id) , likes = values(likes) , update_by = values(update_by) ,
        update_time = values(update_time) , create_by = values(create_by) , create_time = values(create_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update library.book_tags
        <set>
            <if test="bookId != null">
                book_id = #{bookId},
            </if>
            <if test="tagId != null">
                tag_id = #{tagId},
            </if>
            <if test="likes != null">
                likes = #{likes},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from library.book_tags
        where id = #{id}
    </delete>

    <!--通过图书主键删除-->
    <delete id="deleteByBookId">
        delete
        from library.book_tags
        where book_id = #{id}
    </delete>

    <!--批量删除图书时批量删除对应标签-->
    <delete id="deleteBatchByBookId">
        delete
        from library.book_tags
        where book_id in
        <foreach collection="entities" item="entity" separator="," open="(" close=")">
            #{entity}
        </foreach>
    </delete>


</mapper>

