<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sndshun.library.mapper.SysUserMapper">

    <resultMap type="com.sndshun.library.entity.SysUser" id="SysUserMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="profile" column="profile" jdbcType="VARCHAR"/>
        <collection property="roles" ofType="com.sndshun.library.entity.SysUserRole" javaType="java.util.Set">
            <id property="id" column="rid" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SysUserMap">
        select id,
               name,
               phone,
               sex,
               address,
               update_time,
               create_time,
               email,
               profile
        from library.sys_user
        where id = #{id}
    </select>

    <!--查询总量-->
    <select id="queryCount" resultType="int">
        select count(DISTINCT u.id)
        from library.sys_user u
        LEFT JOIN sys_user_role ur on ur.user_id=u.id
        LEFT JOIN sys_role r on r.id=ur.role_id
        <where>
            u.id > -1
            <if test="vo.roleId != null">
                and ur.role_id = #{vo.roleId}
            </if>
            <if test="vo.name != null and vo.name != ''">
                and u.name like concat('%',#{vo.name},'%')
            </if>
            <if test="vo.phone != null and vo.phone != ''">
                and u.phone = #{vo.phone}
            </if>
            <if test="vo.sex != null">
                and u.sex = #{vo.sex}
            </if>
            <if test="vo.address != null and vo.address != ''">
                and u.address like concat('%',#{vo.address},'%')
            </if>
            <if test="vo.email != null and vo.email != ''">
                and u.email = #{vo.email}
            </if>
        </where>
    </select>
    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SysUserMap">
        select u.id,
               u.name,
               u.phone,
               u.sex,
               u.address,
               u.email,
               u.profile,
                ur.id rid,
                r.description
        from library.sys_user u
        LEFT JOIN sys_user_role ur on ur.user_id=u.id
        LEFT JOIN sys_role r on r.id=ur.role_id
        <where>
            <if test="vo.roleId != null">
                and ur.role_id = #{vo.roleId}
            </if>
            <if test="vo.name != null and vo.name != ''">
                and u.name like concat('%',#{vo.name},'%')
            </if>
            <if test="vo.phone != null and vo.phone != ''">
                and u.phone = #{vo.phone}
            </if>
            <if test="vo.sex != null">
                and u.sex = #{vo.sex}
            </if>
            <if test="vo.address != null and vo.address != ''">
                and u.address like concat('%',#{vo.address},'%')
            </if>
            <if test="vo.email != null and vo.email != ''">
                and u.email = #{vo.email}
            </if>
        </where>
        order by u.id
        limit #{ew.start}, #{ew.size}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SysUserMap">
        select
        id, name, phone, sex, address, update_time, create_time, email, profile
        from library.sys_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="sex != null">
                and sex = #{sex}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="profile != null and profile != ''">
                and profile = #{profile}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into library.sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="phone != null and phone != ''">
                phone,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="address != null and address != ''">
                address,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="profile != null and profile != ''">
                profile,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="phone != null and phone != ''">
                #{phone},
            </if>
            <if test="sex != null">
                #{sex},
            </if>
            <if test="address != null and address != ''">
                #{address},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="email != null and email != ''">
                #{email},
            </if>
            <if test="profile != null and profile != ''">
                #{profile},
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into library.sys_user(name, phone, sex, address, update_time, create_time, email, profile)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.phone}, #{entity.sex}, #{entity.address}, #{entity.updateTime},
            #{entity.createTime}, #{entity.email}, #{entity.profile})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into library.sys_user(name, phone, sex, address, update_time, create_time, email, profile)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.phone}, #{entity.sex}, #{entity.address}, #{entity.updateTime},
            #{entity.createTime}, #{entity.email}, #{entity.profile})
        </foreach>
        on duplicate key update
        name = values(name) , phone = values(phone) , sex = values(sex) , address = values(address) , update_time =
        values(update_time) , create_time = values(create_time) , email = values(email) , profile = values(profile)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update library.sys_user
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="profile != null and profile != ''">
                profile = #{profile},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from library.sys_user
        where id = #{id}
    </delete>
    <delete id="deleteBatch">
        delete
        from library.sys_user
        where id in
        <foreach collection="entities" item="entity" separator="," open="(" close=")">
            #{entity}
        </foreach>
    </delete>

</mapper>

